.tile{
    height:77.5px;
    width:77.5px;
    display: grid;
    place-content: center;
  
}

.tile .chess-piece {
    width: 77.5px;
    height: 77.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;

}
.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}
.tile img {
  max-width: 70%;
  max-height: 70%;
  place-content: center;
  margin-left: 20px;
  margin-top: 10px;

}


.black-tile{
    background-color: rgb(244, 187, 81);
  
}
.white-tile{
    background-color: rgb(243, 207, 141);
}